<article id="about" class="scroll">
  <div class="artContainer">

   <h2> Location</h2> 
 <p>   Peru is located in the western part of South America. Its territory borders Ecuador, Colombia, Brazil, Bolivia and Chile. </p> <br />

   <h2> Geography and climate </h2>
   <p> Peru is a very diverse country that includes 11 eco-regions and 84 life zones, of which there are only 117 that exist in the world. It boasts a wide range of landscapes due to its geographical conditions, which in turn gives it a great variety of natural resources. Peru is comprised of three major regions, which have been traditionally defined by their altitudes: Coast, Mountain and Jungle. </p> <br />

  <h2>  How to get here </h2>
   <h4> By air: </h4>
  <p>  Peru has a privileged and central location in South America, which has enabled its modern Jorge Chávez International Airport (Lima) to become a hub for several airlines servicing various destinations in South America. Lima, the capital city, has direct flights or connecting flights from many of the world’s largest cities. More information can be found at <a href="http://www.lap.com.pe/">www.lap.com.pe</a>.</p>

    <h4>By land: </h4>
   <p> The entry points by land are: <br />
    <strong>From Ecuador: </strong>Aguas Verdes (Tumbes) on the Pan-American Highway and La Tina (Piura) from the city of Loja (Ecuador). <br />
  <strong>  From Bolivia:</strong> There are two border crossings: Desaguadero and Kasani, for those coming from La Paz and Copacabana, respectively.<br /> 
    <strong>From Chile:</strong> Paso de Santa Rosa (Tacna) on the Pan-American Highway. </p>
    <h4>By river:</h4>
    <p>Peru is accessible by river. You can enter the Peruvian city of Iquitos via the Amazon River from Leticia (Colombia) and Tabatinga (Brazil). </p>
  <h4>  By lake: </h4>
    <p>You can enter Peru by crossing Lake Titicaca from Guaqui (Bolivia) to Puno (Peru). </p>
<h4>    By sea:</h4> 
   <p> The cruise ships that stop in Peru mainly dock in the port of Callao (30 minutes from Lima). </p>   


  </div>
</article>