<article id="about" class="scroll">
  <div class="artContainer">

    <h2>    Ubicación</h2>
    <p>Perú está ubicado en la parte occidental de América del Sur. Su territorio limita con Ecuador, Colombia, Brasil, Bolivia y Chile. </p>
    <br />

    <h2>      Geografía y clima</h2>
    <p>      El Perú es un país megadiverso, cuenta con 11 ecorregiones y 84 zonas de vida de las 117 que existen en el mundo. Posee una enorme multiplicidad de paisajes debido a sus condiciones geográficas, lo que a su vez le otorga una gran diversidad de recursos naturales. En su territorio se pueden identificar tres grandes regiones, que ha sido la forma tradicional de dividirlo según sus altitudes: Costa, Sierra y Selva.  </p>
    <br />

    <h2>  Cómo llegar</h2>
    <h4>Vía aérea:</h4>
    <p>El Perú es un país de ubicación privilegiada, en el centro de Sudamérica, condición que le ha permitido que el moderno Aeropuerto Internacional Jorge Chávez (en Lima) se convierta en terminal hub para varias aerolíneas que tienen como destino final diferentes rutas de Sudamérica.
      Lima, la ciudad capital, cuenta con vuelos directos o con escalas desde las principales ciudades del mundo. Mayor información en <a href="http://www.lap.com.pe/">www.lap.com.pe</a>.</p>
      <h4>Vía terrestre:</h4>
      <p> Los puntos de entrada por vía terrestre son:<br />
        <strong> Desde Ecuador:</strong> Aguas Verdes (Tumbes) por la Carretera Panamericana y La Tina (Piura) desde la ciudad de Loja (Ecuador).<br />
        <strong>  Desde Bolivia:</strong> Existen dos pasos fronterizos, Desaguadero y Kasani, para quienes vienen de La Paz y desde Copacabana, respectivamente.<br />
        <strong> Desde Chile:</strong> Paso de Santa Rosa (Tacna) por la Carretera Panamericana.</p>
        <h4>     Vía Fluvial</h4>
        <p>El Perú es accesible a través de ríos. Se puede ingresar a la ciudad peruana de Iquitos, a través del río Amazonas, desde Leticia (Colombia) y Tabatinga (Brasil). </p>
        <h4>      Vía Lacustre</h4>
        <p>   Se puede ingresar por el lago Titicaca, desde Guaqui (Bolivia) hasta Puno (Perú).</p>
        <h4> Vía Marítima</h4>
        <p>      Los cruceros que hacen escala en Perú, desembarcan principalmente en el puerto del Callao (a 30 minutos de Lima). </p>
        
        <a onclick="window.plugins.socialsharing.share('My Lists', null, null, 'http://m8staging.com/es-es/comunidad/Mi-Pasaporte/ItineraryId/99/userId/305.aspx')">message and link</a>
        
      </div>
    </article>