<article id="badges" class="list">

  <ul class="artContainer">
    <li class="anchor contrast">Mis Sellos</li>
    <li> 
      <div class="listGrid">
        <img src="images/badges/unlocked/1.png" width="80" height="80" alt="">
        <img src="images/badges/unlocked/1.png" width="80" height="80" alt="">
        <img src="images/badges/unlocked/1.png" width="80" height="80" alt="">
      </div>
    </li>

    <li class="anchor contrast">Todos los Sellos</li>
    <li> 
      <div class="listGrid">
        <img src="images/badges/unlocked/1.png" width="80" height="80" alt="">
        <img src="images/badges/unlocked/1.png" width="80" height="80" alt="">
        <img src="images/badges/unlocked/1.png" width="80" height="80" alt="">
        <img src="images/badges/unlocked/1.png" width="80" height="80" alt="">
        <img src="images/badges/unlocked/1.png" width="80" height="80" alt="">
        <img src="images/badges/unlocked/1.png" width="80" height="80" alt="">
        <img src="images/badges/unlocked/1.png" width="80" height="80" alt="">
        <img src="images/badges/unlocked/1.png" width="80" height="80" alt="">
        <img src="images/badges/unlocked/1.png" width="80" height="80" alt="">
      </div>
    </li>
  </ul>
  
  </article>