<article id="badges" class="list">

  <ul class="artContainer">
    <li class="anchor contrast">Mis Badges</li>
    <li> 
      <div class="listGrid">
        <img src="http://lorempixel.com/80/80/sports" width="80" height="80" alt="">
        <img src="http://lorempixel.com/80/80/sports" width="80" height="80" alt="">
        <img src="http://lorempixel.com/80/80/sports" width="80" height="80" alt="">
      </div>
    </li>

    <li class="anchor contrast">All Badges</li>
    <li> 
      <div class="listGrid">
        <img src="http://lorempixel.com/80/80/people" width="80" height="80" alt="">
        <img src="http://lorempixel.com/80/80/people" width="80" height="80" alt="">
        <img src="http://lorempixel.com/80/80/people" width="80" height="80" alt="">
        <img src="http://lorempixel.com/80/80/people" width="80" height="80" alt="">
        <img src="http://lorempixel.com/80/80/people" width="80" height="80" alt="">
        <img src="http://lorempixel.com/80/80/people" width="80" height="80" alt="">
        <img src="http://lorempixel.com/80/80/people" width="80" height="80" alt="">
        <img src="http://lorempixel.com/80/80/people" width="80" height="80" alt="">
        <img src="http://lorempixel.com/80/80/people" width="80" height="80" alt="">
      </div>
    </li>

  </article>