<section id="home" data-transition="slide">
  <header data-title=""> 
       <nav class="on-right">
            <a href="#" data-action="carousel" data-direction="left" data-icon="arrow-left"></a>
            <a href="#" data-action="carousel" data-direction="right" data-icon="arrow-right"></a>
        </nav>
  </header>

  <article id="homeSlider" data-control="carousel">
    <div class="artContainer">

 
        <div align="center">
          <img src="http://lorempixel.com/320/418/food/" />
        </div>
        <div align="center">
          <img src="http://lorempixel.com/320/418/sports/">
        </div>
        <div align="center">
          <img src="http://lorempixel.com/320/418/people/">
        </div>
      </div>


  </article>

  <footer>
    <nav class="icons">
      <a id="list-nav" href="#" class="navButton" data-view-article="viewLists" data-icon="list" data-async="views/list.html" data-title="My Lists" data-back="">Lists</a>
      <a id="badge-nav" href="#" class="navButton" data-view-article="badges" data-icon="certificate" data-async="views/badges.html" data-title="My Badges">Badges</a>
      <a id="more-nav" href="#" class="navButton" data-view-article="more" data-icon="plus" data-async="views/more.html" data-title="More"> More </a>    </nav>
  </footer>
</section>