 <article id="listsDetail" class="list scroll">
    
   <ul class="artContainer">
    <li class="anchor contrast">Atractivos</li>
    <li class="arrow selectable" data-async="views/list_detail_item.html" data-view-article="listsDetailItem"> Mi Atractivo 1 </li>
    <li class="arrow selectable"> Mi Atractivo 2 </li>
    <li class="arrow selectable"> Mi Atractivo 3 </li>
    
    <li class="anchor contrast">Servicios Turísticos</li>
    <li class="arrow selectable"> Mi Servicio 1 </li>
    <li class="arrow selectable"> Mi Servicio 2 </li>
    
    <li class="anchor contrast">Eventos</li>
    <li class="arrow selectable"> Mi Evento 1 </li>
    <li class="arrow selectable"> Mi Evento 2 </li>
   </ul>
    
  </article>