 <article id="listsDetail" class="list scroll">
    
   <ul class="artContainer">
    <li class="anchor contrast">Eventos</li>
    <li class="arrow" data-async="views/list_detail_item.html" data-view-article="listsDetailItem"> Mi Evento 1 </li>
    <li class="arrow"> Mi Evento 2 </li>
    <li class="arrow"> Mi Evento 3 </li>
    
    <li class="anchor contrast">Experiencias</li>
    <li class="arrow"> Mi Experiencia 1 </li>
    <li class="arrow"> Mi Experiencia 2 </li>
    
    <li class="anchor contrast">Ofertas</li>
    <li class="arrow"> Mi Oferta 1 </li>
    <li class="arrow"> Mi Oferta 2 </li>
   </ul>
    
  </article>